{% extends "incl/navbar_unsigned.html" %}
{% load static %}
{% block content %}             


            <h2>
                <span>New question
                </span>
            </h2> 




            <form>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Text</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">tags</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <button type="submit" class="btn btn-primary">Ask</button>
            </form>
            




{% endblock %}
