{% extends "incl/navbar_unsigned.html" %}
{% load static %}
{% block content %}             


  <h2>
      <span>Login
      </span>
  </h2>


  <form>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Login</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

      


  </form>
  <button type="submit" class="btn btn-primary">Login
  </button>

  <div>
    <a href="" >Create new account</a>

  </div>

{% endblock %}
