{% extends "incl/base.html" %}
{% load static %}
{% block content %}              

<h2>
  <span>Tag: {{key_tag}}
  </span>
</h2>



  <div class="question row">
    <div class="col-2">
      <img class="avatar" src="../static/img/ios_large_1568392135_image.jpg">
    </div>
    <div class="col-9">
      <h3>Question 1</h3>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
      
      <h6>
          <span>
              answers (3)
          </span>
          <span>
            Tags: bender
        </span>
      </h6>
    </div>

  </div>

  <div class="question row">
    <div class="col-2">
      <img class="avatar" src="../static/img/ios_large_1568392135_image.jpg">
    </div>
    <div class="col-9">
      <h3>Question 1</h3>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
      
      <h6>
          <span>
              answers (3)
          </span>
          <span>
            Tags: benderidze
        </span>
      </h6>
    </div>

  </div>

  {% include "incl/pagination.html" %}

{% endblock %}
